/*
  This here is a comment. Commenting about comments. If you want to be specific about a color, you can add in the 
  hex codes - look em up.
*/

table { border: 1px solid black; } /*styles the whole table */

table tr td { font-weight: bold; }

table tr th#head1 { 
    background-color: blue; 
    color: white
    } /*styles the header row of the table */ 

table tr th#head2 { 
    background-color: yellow; 
    color: black
    }

table tr th#head3 { 
    background-color: maroon; 
    color: white
    }


maincontent { width; 1000px }
