/*
  This here is a comment. Commenting about comments. If you want to be specific about a color, you can add in the 
  hex codes - look em up.
*/

table { border: 1px solid black; } /*styles the whole table */
table tr th#Heels { 
    background-color: blue; 
    color: white
    } /*styles the header row of the table */ 
table tr th#Terps { 
    background-color: yellow; 
    color: black
    }
table tr th#Hokies { 
    background-color: maroon; 
    color: white
    }
table tr td { font-weight: bold; }
